{% extends 'base.html.twig' %}

{% block title %}Modifier l’employé - TaskLinker{% endblock %}
{% block page_title %}Modifier l’employé{% endblock %}
{% block page_actions %}{% endblock %}

{% block body %}
<div id="content">

    {{ form_start(form) }}

        <div>
            {{ form_row(form.lastname, { label: 'Nom' }) }}
        </div>

        <div>
            {{ form_row(form.firstname, { label: 'Prénom' }) }}
        </div>

        <div>
            {{ form_row(form.email, { label: 'Email' }) }}
        </div>

        <div class="form-flex">
            <div>
                {{ form_row(form.entryDate, { label: "Date d'entrée" }) }}
            </div>

            <div>
                {{ form_row(form.status, { label: 'Statut' }) }}
            </div>
        </div>

        <button class="button button-submit">Enregistrer</button>

    {{ form_end(form) }}

</div>
{% endblock %}
