{% extends 'base.html.twig' %}

{% block title %}Liste des employés - TaskLinker{% endblock %}
{% block page_title %}Équipe{% endblock %}
{% block page_actions %}{% endblock %}

{% block body %}
<div id="content">

    <table id="team-container">
        <thead>
            <tr>
                <th>Prénom, Nom</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <div class="employee-infos">
                            <div class="employee-avatar">
                                {{ employee.initials }}
                            </div>

                            <div class="employee-coords">
                                <strong>{{ employee.firstname }} {{ employee.lastname }}</strong>
                                <span>{{ employee.email }}</span>
                            </div>
                        </div>
                    </td>

                    <td>{{ employee.status.value }}</td>

                    <td>
                        <a class="button button-edit-team"
                           href="{{ path('employee_edit', { id: employee.id }) }}">
                            Éditer
                        </a>

                        <a class="delete-team"
                           href="{{ path('employee_delete', { id: employee.id }) }}"
                           onclick="return confirm('Supprimer cet employé ?');">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

