{% extends 'base.html.twig' %}

{% block title %}{{ project.title }} - TaskLinker{% endblock %}
{% block page_title %}
{{ project.title }}
{% endblock %}
{% block page_actions %}{% endblock %}

{% block body %}
<div id="content">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div>
            {{ form_row(form.title, { label: 'Titre du projet' }) }}
        </div>

        <div>
            {{ form_row(form.employees, { label: 'Inviter des membres' }) }}
        </div>

        <br>

        <button type="submit" class="button button-submit">Modifier</button>

    {{ form_end(form) }}

</div>
{% endblock %}
