{% extends 'base.html.twig' %}

{% block title %}Liste des projets - TaskLinker{% endblock %}
{% block page_title %}Projets{% endblock %}
{% block body %}
<div id="projects-container">
    {% for project in projects %}
    <article class="card-project"> <a href="{{ path('project_view', { id: project.id }) }}">
            <h2>{{ project.title }}</h2>
        </a>
        <div class="card-project-icons">
            {# --- EDIT --- #} 
            <a href="{{ path('project_edit', { id: project.id }) }}"> 
                <i class="fa-solid fa-pen"></i>
            </a> 
            {# --- ARCHIVE LINK  #} 
            <a href="#" onclick="event.preventDefault(); if(confirm('Archiver ce projet ?')) { document.getElementById('archive-project-{{ project.id }}').submit(); }">
                <i class="fa-solid fa-trash"></i> 
            </a> 
            {# --- INVISIBLE FORM FOR ARCHIVE (POST + CSRF) --- #} 
            <form id="archive-project-{{ project.id }}" action="{{ path('project_archive', { id: project.id }) }}"  method="post" style="display:none;"> 
                <input type="hidden" name="_token" value="{{ csrf_token('archive_project_' ~ project.id) }}"> 
            </form>
        </div>
    </article>
    {% endfor %}
    {# Carte "Ajouter un projet" #}
    {% if is_granted('ROLE_ADMIN') %}
        <article class="card-project">
            <a href="{{ path('project_add') }}">
                <i class="fa-solid fa-circle-plus add-project-icon"></i>
                <h2>Ajouter un projet</h2>
            </a>
        </article>
    {% endif %}
</div>
{% endblock %}