{% extends 'base.html.twig' %}

{% block title %}{{ project.title }} - TaskLinker{% endblock %}

{# Le titre h1 seul, utilisé dans le bandeau #}
{% block page_title %}
{{ project.title }}
{% endblock %}

{# Avatars + bouton Modifier dans le bandeau #}
{% block page_actions %}

{# Avatars statiques pour l’instant #}
<div class="user-list">
    {% for employee in project.employees %} 
    <div class="avatar"> 
        {{ employee.initials }} 
    </div> 
    {% endfor %}
</div>
{% if is_granted('ROLE_ADMIN') %}
<a class="button" href="{{ path('project_edit', { id: project.id }) }}">
    Modifier
</a>
{% endif %}
{% endblock %}

{% block body %}

<div id="tasks-container">

    {# --- TODO COLUMN --- #}
    <div class="task-column">
        <h2>To Do</h2>
        <div class="tasks-list">

            {% for task in todoTasks %}
            <a class="task" {% if is_granted('TASK_EDIT', task) %}href="{{ path('task_edit', { id: task.id }) }}"{% endif %}>
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>

                <div class="task-infos">
                    {% if task.deadline %}
                    <div class="task-deadline">
                        <i class="fa-regular fa-calendar"></i>
                        {{ task.deadline|date('d/m/Y') }}
                    </div>
                    {% endif %}
                    {% if task.employee %}
                    <div class="mini-user">
                        {{ task.employee.firstname|first ~ task.employee.lastname|first }}
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}

            {% if is_granted('PROJECT_EDIT', project) %}
            <a href="{{ path('task_add', { id: project.id }) }}" class="task-add">
                + Ajouter une tâche
            </a>
            {% endif %}
        </div>
    </div>

    {# --- DOING COLUMN --- #}
    <div class="task-column">
        <h2>Doing</h2>
        <div class="tasks-list">

            {% for task in doingTasks %}
            <a class="task" {% if is_granted('TASK_EDIT', task) %}href="{{ path('task_edit', { id: task.id }) }}"{% endif %}>
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>

                <div class="task-infos">
                    {% if task.deadline %}
                    <div class="task-deadline">
                        <i class="fa-regular fa-calendar"></i>
                        {{ task.deadline|date('d/m/Y') }}
                    </div>
                    {% endif %}
                    {% if task.employee %}
                    <div class="mini-user">
                        {{ task.employee.firstname|first ~ task.employee.lastname|first }}
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}

            {% if is_granted('PROJECT_EDIT', project) %}
            <a href="{{ path('task_add', { id: project.id }) }}" class="task-add">
                + Ajouter une tâche
            </a>
            {% endif %}
        </div>
    </div>

    {# --- DONE COLUMN --- #}
    <div class="task-column">
        <h2>Done</h2>
        <div class="tasks-list">

            {% for task in doneTasks %}
            <a class="task" {% if is_granted('TASK_EDIT', task) %}href="{{ path('task_edit', { id: task.id }) }}"{% endif %}>
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>

                <div class="task-infos">
                    {% if task.deadline %}
                    <div class="task-deadline">
                        <i class="fa-regular fa-calendar"></i>
                        {{ task.deadline|date('d/m/Y') }}
                    </div>
                    {% endif %}
                    {% if task.employee %}
                    <div class="mini-user">
                        {{ task.employee.firstname|first ~ task.employee.lastname|first }}
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}

            {% if is_granted('PROJECT_EDIT', project) %}
            <a href="{{ path('task_add', { id: project.id }) }}" class="task-add">
                + Ajouter une tâche
            </a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}